/* add all the css classes which can be used for all here */
.border{
    border: 2px solid red ;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{/*inverting color of all svg from black to white so that they are visible on black bg*/
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Change this to the desired dark background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Change this to the desired dark scrollbar color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Change this to the desired dark scrollbar color on hover */
  }
  